*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #4a42f1;
    --color-green: #4ae347;
    --color-secondary: #d930ba;
    --color-success: #81d1b0;
    --color-warning: #dec84b;
    --color-danger:  #f04a30;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #347483;
    --color-bg1: #ce6857;
    --color-bg2: #424890;
    
    --transition: all 400ms ease;
    }
    
body{
    font-family: 'Caveat', cursive;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

.container{
    margin: 0 auto;
    margin-top: 10px;
    padding: 0px 50px;

}

section{
    padding: 6rem 0;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;

}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color:var(--color-white)
    
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding:1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn.hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

.btn-primary{
    background:var(--color-danger) ;
    color: var(--color-white);

}

/*---------------NAVBAR----------------*/

nav{
    background: transparent;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    padding: 4px 24px 20px 25px;
}

/* change navbar styles on scroll */
.window-scroll{
    background: var(--color-primary);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2) ;
}


.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a{
    font-size: 0.9rem;
    transition: var(--transition);

}

.nav_menu a:hover{
    color: var(--color-bg2);
}

.logo{
    width: 75px;
    position:fixed; 
	top: 3.5px;; 
	left: 35px;; 
}

/*------------END OF NAVBAR----------------*/

/*--------------------HEADER-------------*/

header{
position:relative;
top: 3rem;
overflow: hidden;
height: 70vh;
margin:5rem;

}

.header_container{
    align-items: center;
    gap: 5rem;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header_left p{
    position: relative;
    top: 5px;
    margin: 0.8rem  0 0.8rem;
}

.sample_cv_illustration{
    width: 470px;
    margin-left: auto;
    margin-top: 1rem;
}

/*---------------END OF HEADER-----------------*/

/*---------------BENEFITS---------------------*/

.categories{
    background: var(--color-bg1);
    height: 39rem;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.categories_left{
    margin-right: 4rem;
}

.categories_left p{
    margin: 1rem 0 3rem;;
}

.categories_right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2rem;
}

.benefits{
background-color: var(--color-bg2);
padding: 2rem;
border-radius: 2rem;
transition: var(--transition);
}

.benefits:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.benefits:nth-child(2) .benefits_icon{
    background: var(--color-danger);
}

.benefits:nth-child(3) .benefits_icon{
    background: var(--color-success);
}

.benefits:nth-child(4) .benefits_icon{
    background: var(--color-secondary);
}

.benefits:nth-child(5) .benefits_icon{
    background: var(--color-warning);
}

.benefits:nth-child(6) .benefits_icon{
    background: var(--color-green);
}

.benefits_icon{
    background: var(--color-primary);
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.benefits h5{
    margin: 2rem 0 1rem;
}

.benefits p{
    font-size: 0.85rem;
}

/*------------END OF BENEFITS----------------*/

/*-----------------TEMPLATES---------------*/

.templates{
    margin-top: 10rem;
}

.templates_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
        
}

.template{
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.template:hover{
    background: transparent;
    border-color: var(--color-primary);
}

.template_info{
    padding: 2rem;
}

.template_info p{
    margin: 1.2rem 0 2 rem;
    font-size: 0.9rem;
}


/*------------END OF TEMPLATES----------------*/

/*------------FAQ----------------*/

.faqs{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.faq{
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    background:var(--color-primary) ;
    cursor: pointer;
}

.faq h4{
    font-size: 1rem;
    line-height: 2.2;
}

.faq_icon{
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p{
    margin-top: 0.8rem;
    display: none;
}

.faq.open p{
    display: block;
}

/*------------END OF FAQ----------------*/

/*------------FOOTER----------------*/

footer{
background: var(--color-bg);
padding-top: 5rem;
font-size: 0.9rem;
}

.footer_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}

.footer_container >div h4{
    margin-bottom: 1.2rem;
}

.footer_1 p{
    margin: 0 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li a:hover{
    text-decoration: underline;
}

.footer_socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer_copyright{
    text-align: center;
    margin-top: 4rem;
padding: 1.2rem 0;
border-top: 1px solid var(--color-bg2);
}

/*------------------HEADER---------------*/

header{
    height: 52vh;
    margin-bottom: 4rem;
}

.header_container{
    gap: 0;
    padding-bottom: 3rem;
}

/*--------------------------CATEGORIES---------------*/

.categories{
    height: auto;
}

.categories_container{
    grid-template-columns: 1fr;
    gap: 3rem;
}

.categories_left{
margin-right: 0;
}

/*----------------------TEMPLATES-----------------*/


/*---------------FAQs---------*/
.faqs_container{
    grid-template-columns: 1fr;
}

.faq{
padding: 1.5rem;
}

/*-----------FOOTER-----------*/

.footer_container{
grid-template-columns: 1fr 1fr;
}

/*-----------------------MEDIA QUERIES(PHONES)----------*/

@media screen  and(max-width: 600px ) {
    .container{
        width: var(--container-width-sm);
    }
    
    /*--------------------------NAVMENU----------------*/

    .nav_menu{
        right: 3%;
    }

    /*-------------------HEADER-----------------------*/
    header{
        height: 100vh;
    }

    .header_container{
        display: flex;
        text-align: center;
        margin-top: 0;
    }

    .header_left p{
        margin-bottom: 1.3rem;
    }

.categories_right{
    gap: 0.7rem;
}  

.category{
    padding: 1rem;
    border-radius: 1rem;
}

.category_icon{
    margin-top: 4px;
    display: inline-block;
}

/*----------------------------templates------------------*/

.templates_container{
    grid-template-columns: 1fr;
}

/*---------------------footer--------------*/

.footer_container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
}

.footer_1 p{
    margin: 1rem auto;
}

.footer_socials{
    justify-content: center;
}
}

/* Media queries */
@media screen and (max-width: 830px){
    header{
        height: 850px;
    }
    .header_container{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .sample_cv_illustration{
        width: 600px;
    }
}
